// 1. Pages Variables
// 1.1 Pages Fonts
// Avenir font is default at the moment
$page-default-font: "Avenir", "Montserrat";

// 1.2 Pages Colours & Opacities

$page-default-font-colour: white;
$page-default-background-colour: #1A2F4B;

// 1.3 Mobile & Tablet Support
$pages-mobile-max-width: 625px;
$pages-tablet-max-width: 1023px;